#root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

#root>button {
  align-self: flex-end;
}

#moreDetails {
  border: 2px solid #ccc; 
  border-radius: 10px; 
  padding: 20px; 
  background-color: #f9f9f9; 
  width: auto;
  height:50%;
  margin: 20px auto; 
 
}
#backToShows{
  border:2px solid #ccc;
  padding: 1%;
}
#backToEpisodes{
  border: 2px solid #ccc;
  padding:1%;
}